<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="banner">
        <img style="width:80px; height:80px; margin:15px;" class="firatlogo" src="firatlogo.png" alt="firatlogo">
        <a class="baslik">MEZUN BİLGİ PLATFORMU</a>
    </div>
    <div class="navigasyon">
        <a href="index.html">ANASAYFA </a>
        <a href="index.html">HAKKIMIZDA </a>
        <a href="index.html">İLETİŞİM </a>
        <a href="index.html">GİRİŞ</a>
        <a href="index.html">KAYIT</a>
    </div>
    <table class="duyurutablo" border="1">
        <tr class="duyuru1">
            <td class=duyurular>
                <marquee scrollamount="5" direction="right">Duyurular</marquee>
            </td>
            <td class="mainic">
            <td>
                <img class="resimmezun" src="mezuniyet.jfif" alt="resimanasayfa">
            </td>
            <td>
                Lorem ipsum dolor sit a"met consectetur adipisicing elit.
                Maxime eum blanditiis quasi sit numquam veritatis evenietdsadas
            </td>

            </td>
        </tr>
        <tr class="icbas">
            <td>İçerik Başlık</td>
        </tr>
        <tr class="duyuru2">

            <td>
                <marquee scrollamount="2" height="400" width="100%" direction="up" style="background-color: #1D1D1B;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, dolorum illum.
                    Unde, eligendi! Reprehenderit vel nesciunt, voluptate, ea explicabo molestiae quos
                    modi mollitia sed, accusantium aspernatur at placeat accusamus dolor.</marquee>
                </marquee>
            </td>

        </tr>
    </table>
</body>

</html>